[build]
  command = "cd top-thca-brands-frontend && npm install && npm run build"
  publish = "top-thca-brands-frontend/dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

